.profile__data {
  max-width: 420px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  img {
    margin-bottom: 10px;
  }
  h3 {
    font-size: 18px;
  }
  .profile__fake-avatar {
    font-size: 150px;
    margin-bottom: 15px;
  }
}
.profile__comments {
  font-size: 24px;
  margin-bottom: 20px;
}
