.video__data {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  .video__title {
    font-size: 26px;
    margin-bottom: 15px;
  }
  .video__views .video__createdAt {
    font-size: 12px;
  }
  .video__owner {
    margin-top: 20px;
    padding: 20px 0px;
    border-top: 1px solid gray;
    display: flex;
    flex-direction: column;
    .video__owner-profile {
      display: flex;
      align-items: center;
      margin-top: 10px;
    }
    img {
      width: 50px;
      border-radius: 50%;
      margin-right: 10px;
    }
    a {
      color: cornflowerblue;
      text-decoration: underline;
      font-size: 20px;
    }
  }
  .video__manage {
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    div {
      background-color: gray;
      color: black;
      border-radius: 9999px;
      padding: 10px 20px;
      margin-right: 20px;
      &:hover {
        background-color: white;
        transition: background-color 0.3s ease-in-out;
      }
    }
  }
}
