doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        title #{pageTitle} | Webtube
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body 
        main 
            block content
        include partials/footer.pug