extends ../base
include ../mixins/video
include ../mixins/comment

block content 
    div.profile__data
        if user.socialLoginOnly
            img(src=user.avatarUrl,crossorigin).avatar
        else
            img(src="/" + user.avatarUrl,crossorigin).avatar
        h3=user.name
    div.video-grid
        each video in user.videos
            +video(video)
        else
            span.empty__message No videos found 
    div.video__comments
        h5.profile__comments This Channel's Comments
        span 댓글 #{user.comments.length}개
        ul 
            each comment in user.comments.reverse()
                +comment(comment)
